PORT=
TZ=
#Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
#JWT Token
SECRET_KEY_FOR_ACCESS_TOKEN=
SECRET_KEY_FOR_REFRESH_TOKEN=
#Google Login Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=
#Send Mail
EMAIL_USERNAME=
EMAIL_PASSWORD=
FROM_EMAIL=

# #Firebase
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_CLIENT_X509_CERT_URL=

#Payos
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_RETURN_URL=
PAYOS_CANCEL_URL=

AGORA_APP_ID=
AGORA_APP_CERTIFICATE=

#Redis
REDIS_HOST=
REDIS_PORT=